apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: platform
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: jawher27/platform-backend:1.0.65
          imagePullPolicy: Always
          ports:
            - containerPort: 9090

          env:

            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: DB_URL
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: SERVER_PORT

            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: DB_PASSWORD

            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: SENTRY_DSN
            - name: SENTRY_ENVIRONMENT
              value: "production"
            - name: SENTRY_RELEASE
              value: "1.0.0"
      restartPolicy: Always